@import url('https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&family=Caveat:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Reenie+Beanie&family=Rock+Salt&family=Shadows+Into+Light&display=swap');

html{
    scroll-behavior: smooth;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: url(imagens/fundo-abstrato.jpg);
    background-size: cover;
}

.dp-menu ul{
    list-style: none;
    padding: 0;
    background-color: rgb(197, 0, 0);
}

.dp-menu ul li{
    display: inline-block;
}

.dp-menu ul li a{
    color: #fff;
    padding: 15px;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
}

.dp-menu ul li a:hover{
    color: #ff0000;
    background-color: #fff;
}

.dp-menu ul li:last-child{
    float: right;
}

/*MENU DROPDown*/
.dp-menu ul ul{
    display: none;
    left: 0;
    position: absolute;
}

.dp-menu ul li:hover ul{
    display: block;
}

.dp-menu ul ul{
    width: 130px;
}

.dp-menu ul ul li a{
    display: block;
}

.dp-menu ul li:last-child{
    float: right;
}

footer{
    display: flex;
    font-size: 10px;
    background-color: red;
    justify-content: center;
    position:relative;
    bottom: 0;
    width: 100%;
    color: #fff;
}

.logo{
    margin-top: 40px;
    float: right;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: normal;
    color: black;
    padding: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 40px;
    padding: 2px;
}

th, td {
    border: 0px;
    padding: 8px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 14px;
}

th {
    background-color: #bdbdbd;
    border-radius: 10px;
}

button {
    background-color: #ff0000;
    color: #fff;
    border: 0px;
    padding: 3px 8px;
    border-radius: 3px;
    cursor: pointer;
    align-items: center;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}

.editar {
    background-color: #9292d6;
    border-radius: 10px;
    padding: 4px 4px;
    color: #312dff;
}

.excluir {
    background-color: #ff9191;
    border-radius: 10px;
    padding: 4px 4px;
    color: #ff2121;
}

.cad {
    background-color: #ff0000;
    text-decoration: none;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 107, 107);
    padding: 20px;
    border: 1px solid #ff5353;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 1000;
    border-radius: 15px;
}
.popup button {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    margin-top: 10px;
}

#btn-top{
    background-color: #ff0000;
    color: white;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    border-radius: 20px;
    
    text-decoration: none;
    text-align: center;
    line-height: 35px;
    font-size: 20px;
    font-weight:900;
    
}